.header {
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 80px;
  min-width: 100%;
  align-items: center;
  background-color: #ffc017;
  transition: all ease-in-out 0.5s;
}

.addArticleImageContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 100px;
}
.addArticleImageWrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 100%;
  width: 900px;
  align-items: center;
}

.addImageArticleIcon {
  flex: 2;
}
.addArticleImageInput {
  flex: 36;
}

.acceuillCartsContainer {
  flex: 7;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: solid rgb(199, 191, 191) 1px;
}

.acceuillCartsContainerArticleDetails {
  padding-top: 100px;
  flex: 7;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  border-right: solid rgb(199, 191, 191) 1px;
}
.aceuillContainerLeft {
  flex: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 100px;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}

@media screen and (max-width: 480px) {
  .header {
    padding-left: 1px;
    padding-right: 1px;
    min-width: 100%;
  }
}

@media screen and (max-width: 762px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.contentAceuillConainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
@media screen and (max-width: 480px) {
  .contentAceuillConainer {
  }
}

@media screen and (max-width: 762px) {
  .contentAceuillConainer {
  }
}
.modalContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.modalBackground {
  top: 0;
  height: 100%;
  width: 100%;
  background-color: red;
}

.modal {
  z-index: 999;
  position: relative;
  width: 500px;
  background-color: white;
  transition: all ease-in-out 0.5s;
  animation: append-animate 0.3s linear;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 10px;
  border-radius: 4px;
  display: block;
  min-width: 678px;
  min-height: 695px;
}

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.closeIconModal {
  position: absolute;
  top: 12px;
  left: 94%;
  cursor: pointer;
}

.jj {
  fill: rgba(117, 117, 117, 1);
}

.modalContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 75px;
  padding-right: 75px;
}

.modalContentHome {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.titleModal {
  letter-spacing: -0.03em;
  line-height: 32px;
  font-size: 28px;
  color: rgba(8, 8, 8, 1);
  font-feature-settings: "pnum" on, "lnum" on;
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

.modalContainerContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputSignIn {
  border: 0.5px solid rgb(214, 209, 209);
  outline: none;
  border-radius: 15px;
  width: 70%;
  height: 60px;
  text-indent: 20px;
  font-size: 15px;
}
.bioTextArea {
  border: 0.5px solid rgb(214, 209, 209);
  outline: none;
  border-radius: 15px;
  width: 70%;
  text-indent: 20px;
  font-size: 15px;
  padding-top: 10px;
}
.bioTextArea::placeholder {
  color: rgb(202, 190, 190);
}

.inputSignIn::placeholder {
  color: rgb(202, 190, 190);
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.spanText {
  color: rgb(26, 137, 23);
  cursor: pointer;
}

.submitBtn {
  width: 30%;
  border: none;
  height: 55px;
  background-color: #ffc017;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: "Select Profile Image";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 18px;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* 
body {
  margin: 0;
  padding: 2rem 1.5rem;
  font: 1rem/1.5 "PT Sans", Arial, sans-serif;
  color: #5a5a5a;
} */

.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.8rem;
  width: 70%;
}

.file input {
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}

.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 0.075rem solid #ddd;
  border-radius: 0.25rem;
  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.file-custom:after {
  content: "Choose  Image...";
}

.file-custom:before {
  position: absolute;
  top: -0.075rem;
  right: -0.075rem;
  bottom: -0.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: 0.075rem solid #ddd;
  border-radius: 0 0.25rem 0.25rem 0;
}

/* .getStartedBtn {
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  line-height: 20px;
  font-size: 14px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-style: solid;
  fill: rgba(255, 255, 255, 1);
  padding: 7px 16px 9px;
  background: rgba(25, 25, 25, 1);
  font-weight: 400;
  border-color: rgba(25, 25, 25, 1);
  border-width: 1px;
  border-radius: 99em;
} */
.homeTopSideContainer {
  min-height: 455px;
  background-color: #ffc017;
  border-bottom: 1px solid black;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: row;
  min-width: 100%;
}

@media screen and (max-width: 762px) {
  .homeTopSideContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

* {
  margin: 0;
}

.homeTopSideLeft {
  min-height: 100%;
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}

.homeTopSideRight {
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 100;
  padding: 50px;
}

.homeTopSideRight {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.titleHomeLeftSide {
  letter-spacing: -0.05em;
  line-height: 95px;
  font-size: 106px;
  color: rgba(8, 8, 8, 1);
  font-feature-settings: "pnum" on, "lnum" on;
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
}

.descriptionHomeLeftSide {
  font-size: 24px;
  line-height: 24px;
  color: rgba(41, 41, 41, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-top: -20px;
}

.startHomeLEftSide {
  width: 213px;
  height: 43px;
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 99em;
  cursor: pointer;
}

.homeMidSIdeContainer {
  min-height: 255px;
  border-bottom: 0.2px solid rgb(226, 213, 213);
  padding-left: 20%;
  padding-right: 20%;
  min-width: 100%;
  margin-top: 50px;
}

@media screen and (max-width: 762px) {
  .homeMidSIdeContainer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.titleHimeMidSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3px;
}

.carteHomeMidSideContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}

.carteHomeMidSide {
  min-height: 120px;
  min-width: 355px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.carteHomeBotSide {
  min-height: 120px;
  min-width: 355px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 30px;
}
.carteHomeBotSideAceuill {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 250px;
  width: 775px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  border-bottom: solid 0.5px rgb(235, 226, 226);
  transition: box-shadow 0.3s;
  align-items: flex-start;
  cursor: pointer;
}
.carteAceuillImageArticle {
  border-radius: 15px;
  width: 170px;
  margin-right: 15px;
}
/* .carteHomeBotSideAceuill:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  border-radius: 10px;
  cursor: pointer;
} */
.articleAceuillDvider {
  background-color: rgba(230, 230, 230, 1);
  height: 1px;
  margin: 0;
  box-sizing: inherit;
  width: 100%;
}

.carteHomeLeftSideContainerUser {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-direction: 5;
}

.carteHomeLeftSideContainer {
  flex: 5;
  display: flex;
  align-items: left;
  flex-direction: column;
}

.carteHomeLeftSideContainerAceuill {
  flex: 5;
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-right: 100px;
}

.carteHomeRightSideContainer {
  flex: 1;
}

.profileIconCarteHome {
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 5%);
  width: 20px;
  height: 20px;
}
.articleImage {
  border-radius: 10px;
}

.articleImageArticleDetail {
  width: 100%;
  height: 300px;
}

.carteHomeUserName {
  margin-left: 5px;
  padding-right: 2px;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  text-overflow: ellipsis;
  max-height: 16px;
  overflow: hidden;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: rgba(41, 41, 41, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.carteHomeArticleTitle {
  margin-top: 10px;
  -webkit-line-clamp: 2;
  max-height: 40px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 700;
  max-width: 280px;
  letter-spacing: 0;
  font-size: 16px;
  color: rgba(41, 41, 41, 1);
  line-height: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.carteHomeDate {
  margin-top: 10px;
  box-sizing: inherit;
  color: rgba(117, 117, 117, 1);
  font-size: 13px;
  line-height: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.carteHomeRightSideNumberArticle {
  font-weight: 700;
  color: rgba(230, 230, 230, 1);
  letter-spacing: 0;
  line-height: 36px;
  font-size: 30px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: inherit;
}

.homeMidSideTitle {
  text-transform: uppercase;
  letter-spacing: 0.083em;
  line-height: 16px;
  font-size: 12px;
  font-weight: 700;
  color: rgba(41, 41, 41, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.homeBottomSideContainer {
  padding-left: 20%;
  padding-right: 20%;
  min-width: 100%;
  margin-top: 50px;
}

@media screen and (max-width: 762px) {
  .homeMidSIdeContainer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.carteHomeArticleTitleBotSide {
  margin-top: 10px;
  letter-spacing: 0;
  max-height: 56px;
  line-height: 28px;
  font-size: 22px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 700;
  color: rgba(41, 41, 41, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cartHomeBottomSideQuestion {
  margin-top: 10px;
  max-height: 40px;
  overflow: hidden;
  color: rgba(117, 117, 117, 1);
  font-size: 16px;
  line-height: 20px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.imageHomePage {
  width: 550px;
  border-radius: 15px;
}
.searchLeftSideContainer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  margin-bottom: 70px;
}

.searchIconLeftSide {
  position: absolute;
  left: 60px;
}

.searchInputLeftSide {
  padding-left: 50px;
  width: 80%;
  height: 40px;
  border-radius: 25px;
  border: solid 1px rgb(230, 220, 220);
  outline: none;
}

.topicsContainer {
  width: 100%;
  border-top: solid rgb(199, 191, 191) 1px;
  padding-top: 50px;
}

.categorieItemContainer {
  height: 30px;
  background-color: rgb(230, 230, 230);
  border-radius: 25px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
  transition: all ease 0.5s;
}
.categorieItemContainer:hover {
  background-color: rgb(190, 171, 171);
}

.CategoriesITemsContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 15px;
}

.topicInCarteCOntainer {
  margin-top: 25px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.categorieItemContainerInPost {
  height: 25px;
  background-color: rgb(230, 230, 230);
  border-radius: 25px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
  transition: all ease 0.5s;
  color: black;
}

.categorieItemContainerInPost:hover {
  background-color: rgb(190, 171, 171);
}
.articleOwnerInModel {
  margin-bottom: 25px;
}

.addTopicsInputInModal {
  margin-top: 25px;
  height: 55px;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 5px;
  outline: none;
  border: solid 0.5px rgb(221, 213, 213);
}
.addTopicCOntainerInModall {
  position: relative;
  width: 100%;
}
.autoCompleteTopic {
  width: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border: solid 1px rgb(224, 217, 217);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.autoCompleteTopicContainer {
  position: absolute;
  top: 85px;
  left: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: 0.5s ease-out 0s 1 slideInFromRight forwards;
}

.arrowAutoComplete {
  clip-path: polygon(50% 0, 100% 50%, 50% 50%, 0 50%);
  width: 25px;
  height: 25px;
  background-color: red;
}

@keyframes slideInFromRight {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

.topiText {
  width: 100%;
  text-align: left;
  height: 50px;
  padding: 15px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.topicTextCOntainer {
  width: 100%;
  text-align: left;
  height: 50px;
  padding: 15px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.topiText:hover {
  background-color: #1a8917;
  color: white;
}

.addedTopicsCOntainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 25px;
}

.addedTopicItemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(226, 216, 216);
  border-radius: 10px;
  padding: 5px;
  margin-right: 5px;
}

.deleteAddedTopicIcon {
  cursor: pointer;
}
.headerUserInArticleDetails {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.imageUserArticleDetail {
  width: 70px;
  border-radius: 35px;
  flex: 1;
}
.userDataCOntainerInArticleDetails {
  flex: 9;
  height: 60px;
  align-items: flex-start;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  margin-right: 20px;
}
.articleTitleArticleDetail {
  width: 100%;
  text-align: left;
}

.articleBody {
  margin-top: 60px;
  margin-bottom: 100px;
}
.articleOwnerDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.articleOwnerImage {
  width: 85px;
  border-radius: 50%;
}
.articleOwnerName {
  margin-top: 20px;
  font-size: 24px;
}

.articleOwnerBio {
  margin-top: 20px;
}

.visitProfileOwner {
  text-decoration: none;
  color: white;
  background-color: #1a8917;
  width: 150px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  margin-top: 25px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.visitProfileOwner:hover {
  background-color: #0f690c;
}
